{% extends 'blog/base.html' %}
{% block header %}
<h1 class="post-title">{{post.title}}</h1>
<h2 class="post-date">
    <time datetime="{{ post.modify_date }}">{{ post.modify_date }}</time>
</h2>
<h2 class="post-write">작성자:{{ post.author }}</h2>
{% endblock %}
{% block content %}
 <div class="post-content">
   {% for postimage in image_list %}
     <img src="{{ postimage.image.url }}">
   {% endfor %}
   <br/>
{{post.content|linebreaksbr}}
 </div>
 <hr/>

 <div class="panel-body">
 		{% if post.comments.exists %}
 		<ul class="comment-list">
 			{% for comment in post.comments.all %}
 			<li class="comment" style="height:55px;">
        <span class="comment-image"><img src="{{ comment.author.img_profile.url }}" class="commant-user-image"></span>
 				<span class="comment-author">{{ comment.author }}</span>
 				<span class="comment-content">{{ comment.content }}</span>
 			</li>
 			{% endfor %}
 		</ul>
    {% endif %}
    {% if user.is_authenticated %}
      <form action="{% url 'blog:comment_create' post_pk=post.pk %}?next={% url 'blog:detail' post_pk=post.pk %}"
      method="POST"
      class="comment-form">
      {% csrf_token %}
      {{ comment_form.content }}
  		</form>
    {% endif %}
</div>

<!--   <div><img src="{{comment.author.img_profile.url}}" class="comment-image"></div>  -->

 <hr/>
<a href="/blog"> 처음으로 </a>

{% endblock %}
